<div ng-init="init()">
    <div class="container p-t-2">
        <!--search box-->
        <h2 class="text-xs-center">Edit</h2>

        <div class="input-group input-group-lg">
            <ul class="list-group">

                <li class="list-group-item"><input type="text" ng-model="name"
                                                   class="form-control"
                                                   aria-describedby="sizing-addon1"></li>
                <li class="list-group-item"><input type="text" ng-model="phone" class="form-control"

                                                   aria-describedby="sizing-addon1"></li>
                <li class="list-group-item"><input type="text" ng-model="EmailId"class="form-control"
                                                   aria-describedby="sizing-addon1"></li>
                <button type="button" class="btn">save</button>
                <button type="button" class="btn">Cancel</button>
            </ul>
        </div>
        </ul>
    </div>
</div>


